In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('survey.csv')

In [4]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [5]:
df.columns.str.upper()

Index(['TIMESTAMP', 'AGE', 'GENDER', 'COUNTRY', 'STATE', 'SELF_EMPLOYED',
       'FAMILY_HISTORY', 'TREATMENT', 'WORK_INTERFERE', 'NO_EMPLOYEES',
       'REMOTE_WORK', 'TECH_COMPANY', 'BENEFITS', 'CARE_OPTIONS',
       'WELLNESS_PROGRAM', 'SEEK_HELP', 'ANONYMITY', 'LEAVE',
       'MENTAL_HEALTH_CONSEQUENCE', 'PHYS_HEALTH_CONSEQUENCE', 'COWORKERS',
       'SUPERVISOR', 'MENTAL_HEALTH_INTERVIEW', 'PHYS_HEALTH_INTERVIEW',
       'MENTAL_VS_PHYSICAL', 'OBS_CONSEQUENCE', 'COMMENTS'],
      dtype='object')

In [7]:
df.columns = df.columns.str.upper()

In [11]:
df['SELF_EMPLOYED'].fillna('Im not sure', inplace=True)

In [66]:
df.head()

,TIMESTAMP,AGE,GENDER,COUNTRY,STATE,SELF_EMPLOYED,FAMILY_HISTORY,TREATMENT,WORK_INTERFERE,NO_EMPLOYEES,...,LEAVE,MENTAL_HEALTH_CONSEQUENCE,PHYS_HEALTH_CONSEQUENCE,COWORKERS,SUPERVISOR,MENTAL_HEALTH_INTERVIEW,PHYS_HEALTH_INTERVIEW,MENTAL_VS_PHYSICAL,OBS_CONSEQUENCE,COMMENTS
0,2014-08-27 11:29:31,37,Female,United States,IL,Im not sure,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,Male,United States,IN,Im not sure,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,Im not sure,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,Im not sure,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,Im not sure,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [46]:
df['GENDER'].replace(['M','Mail','Malr','Man','Male-ish','maile','male','Male','Make','Guy (-ish) ^_^','msle','Mal','m'],'Male',inplace=True)

In [54]:
df['GENDER'].replace(['f','Woman','F','female','Female','Femake','woman','femail',],'Female',inplace=True)
df['GENDER'].replace(['Cis Male','Female (trans)','Female (cis)','All','non-binary','Genderqueer','Enby','ostensibly male, unsure what that really means','p','Neuter','Agender','queer/she/they','something kinda male?','Trans woman','Cis Man','queer','A little about you','male leaning androgynous','Male (CIS)','Androgyne','fluid','cis-female/femme','Femake','cis male','Cis Female','Nah','Trans-female'],'Queer',inplace=True)

In [62]:
df['GENDER'].value_counts()

Male      989
Female    242
Queer      28
Name: GENDER, dtype: int64

In [59]:
df['GENDER'].replace(['Male '],'Male',inplace=True)

In [63]:
df['GENDER'].replace(['Female '],'Male',inplace=True)

In [71]:
df['COMMENTS'].fillna('Personal issue',inplace=True)

In [72]:
df['STATE'].fillna('Foreigner',inplace=True)

In [80]:
df.isnull().any().sum()

1

In [82]:
df['WORK_INTERFERE'].fillna('INDECISIVE',inplace=True)

In [84]:
df.head()

,TIMESTAMP,AGE,GENDER,COUNTRY,STATE,SELF_EMPLOYED,FAMILY_HISTORY,TREATMENT,WORK_INTERFERE,NO_EMPLOYEES,...,LEAVE,MENTAL_HEALTH_CONSEQUENCE,PHYS_HEALTH_CONSEQUENCE,COWORKERS,SUPERVISOR,MENTAL_HEALTH_INTERVIEW,PHYS_HEALTH_INTERVIEW,MENTAL_VS_PHYSICAL,OBS_CONSEQUENCE,COMMENTS
0,2014-08-27 11:29:31,37,Female,United States,IL,Im not sure,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,Personal issue
1,2014-08-27 11:29:37,44,Male,United States,IN,Im not sure,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,Personal issue
2,2014-08-27 11:29:44,32,Male,Canada,Foreigner,Im not sure,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,Personal issue
3,2014-08-27 11:29:46,31,Male,United Kingdom,Foreigner,Im not sure,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,Personal issue
4,2014-08-27 11:30:22,31,Male,United States,TX,Im not sure,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,Personal issue

In [87]:
df.rename(columns={'GENDER':'SEX','COUNTRY':'ORIGIN'},inplace=True)